---
import Code from "../Code/index.astro"
import dedent from "dedent"
---

<p class="na-paragraph">
    先要自订構建出 <code class="na-code na-code-no-bg">nanarinostyl</code> (
    <code class="na-code">nanarinostyl/dist/style.min.css</code>
    ) 和 <code class="na-code na-code-no-bg">na-lit</code> (
    <code class="na-code">dist/na-lit.js</code>
    ) 放置在自己專案的 <code class="na-code na-code-no-bg">assets</code> 或 <code
        class="na-code na-code-no-bg">public</code
    > 目錄中，並且在 <code class="na-code na-code-no-bg">html</code> 引入
</p>

<Code
    code={dedent`
        <html lang="zh-TW">
            <head>
                <!-- 記住它是第幾個 第一個  -->
                <link rel="stylesheet" href="/nanarinostyl.min.css" />
                <script src="@/scripts/client/init"></script>
            </head>
            <body>
                <slot />
            </body>
        </html>
    `}
/>

<p class="na-paragraph">
    注冊元件 并為影子 <code class="na-code na-code-no-bg">DOM</code> 注入樣式
</p>

<Code
    code={dedent`
        // src/scripts/client/init

        import { NanarinoStylusLitComponent } from "@/assets/na-lit.js"

        // 影子DOM内部樣式復用外部的全局樣式 需要保證是[0]
        const nanarinostyl = document.styleSheets[0]
        for (const css of Array.from(nanarinostyl?.cssRules ?? []).reverse()) {
            NanarinoStylusLitComponent.nanarinoStylus.insertRule(css.cssText)
        }
    `}
    lang="typescript"
/>

<p class="na-paragraph">頁面中使用</p>

<Code
    code={dedent`
        <section>
            <na-pagination total="36"></na-pagination>
        </section>
    `}
/>

<style>
    .na-code-no-bg {
        --background-color-code: 0 0 0 / 0;
    }
</style>
