---
import App from "@/layouts/app.astro"
---

<App title="當前時刻">
    <script>
        import "@/lib/CurrentMoment"
    </script>
    <section>
        <na-current-moment></na-current-moment>

        <hr class="na-divider" />

        <!-- 自訂 locales 設置地區 -->
        <na-current-moment locales="ja-JP"></na-current-moment>

        <hr class="na-divider" />

        <!-- 使用 [data-primary] 後 變數 --current-moment-color 可以自訂顔色RGB值 -->
        <na-current-moment locales="en-HK" data-primary></na-current-moment>
        <!-- 是否使用午前午後是地區默認 -->
    </section>
    <style>
        [locales="ja-JP"] {
            align-self: end;
        }
    </style>
</App>

<style>
    section {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
</style>
