---
import App from "@/layouts/app.astro"
---

<App title="分頁器">
    <script>
        import "@/components/Pagination"
    </script>
    <section>
        <na-pagination></na-pagination>
        <na-pagination total="1"></na-pagination>
        <na-pagination total="4"></na-pagination>
        <na-pagination total="7"></na-pagination>
        <na-pagination total="10"></na-pagination>
        <na-pagination total="36"></na-pagination>
    </section>
</App>

<style>
    section {
        padding: 16px;
        display: grid;
        gap: 36px;
    }
</style>
