---
import App from "@/layouts/app.astro"
---

<App title="分頁器">
    <script>
        import "@/lib/Pagination"
    </script>
    <section>
        <na-pagination></na-pagination>
        <na-pagination total={1}></na-pagination>
        <na-pagination total={4}></na-pagination>
        <na-pagination total={7}></na-pagination>
        <na-pagination total={10}></na-pagination>
        <na-pagination total={36}></na-pagination>
    </section>
    <script>
        async function onload() {
            // code-ignore-start
            const loadingElements = document.querySelectorAll(":not(:defined)")
            const tags = new Set(
                [...loadingElements].map(ele => ele.localName)
            )
            await Promise.all(
                [...tags].map(tag => customElements.whenDefined(tag))
            )
            // code-ignore-end
            for (const element of document.querySelectorAll("na-pagination")) {
                element.addEventListener("page-to", e => {
                    // e.preventDefault() 阻止翻頁
                    const to = (e as CustomEvent<number>).detail
                    console.log("page-to", to)
                })
                element.onChange = current => {
                    // 并非事件
                    // 翻頁被阻止時不觸發
                    console.log("onChange", current)
                }
            }
        }

        // code-ignore-start
        document.addEventListener("astro:after-swap", e => {
            if (e.target) {
                const pathname = (e.target as Document).location.pathname
                const base = import.meta.env.BASE_URL
                const components = pathname.replace(RegExp(`^${base}`), "")
                if (components === "na-pagination") onload()
            }
        })
        // code-ignore-end

        onload()
    </script>
</App>

<style>
    section {
        padding: 2rem;
        display: grid;
        gap: 36px;
    }
</style>
